// @media (max-width: 760px) {
.app-header {
    display: none;
    @include for-mobile-layout {
        display: flex;
        height: 53px;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        background-color: #fff;
border-bottom: 1px solid #dbdbdb;
        width: 100%;
        z-index: 1000;

        .logo-text {
            margin-top: em(8px);
            margin-left: em(3.5px);
        }

        .nav-section {
            display: flex;
            align-items: center;
            gap: em(19px);
        }

    }
}

.app-header-placeholder {
    display: none;
    @include for-mobile-layout {
    height: 53px;
    width: 100%;
    display: block;
}
}

// @media (min-width: 760px) {
.app-header {}