@media (max-width: 770px) {
    .app-header {
        display: flex;
        height: em(53px);
        border-bottom: 1px solid black;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;

        .logo-text {
            margin-top: em(8px);
            margin-left: em(3.5px);
        }

        .nav-section {
            display: flex;
            align-items: center;
            gap: em(19px);
        }
    }
}

@media (min-width: 770px) {
    .app-header {
        display: none;
    }
}