.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  //   overflow-y: visible;
  // overflow-x: visible
}



.modal-main {
  position: absolute;


  .modal-basic {
    background-color: #fff;
    border-radius: 12px;
    width: 300px;
    height: 331px;
    text-align: center;
    z-index: 1010;

    .modal-btn {
      display: block;
      width: 97%;

      font-size: 10.8px;
      margin: 0.75rem 0;
      padding-bottom: 0.75rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: black;
      border-bottom: 1px solid #ccc;

      &.delete {
        color: #d32f2f;
        font-weight: 600;
      }
    }
  }

  .modal-upload {
    text-align: center;
    width: em(460px);
    height: em(450px);
    border-radius: 0 0 12px 12px;
    background-color: #fff;
    padding-top: em(67px);


    .upload-preview {
      display: flex;
      flex-direction: column;
    }

    .upload-img-btn {
      background-color: #0095f6;
      color: #fff;
      font-size: em(16px);
      font-weight: 600;
      padding: 9px 15px;
      border-radius: 8px;
          align-self: center;
          margin-top: em(24px);
    }


span {
  margin-top: -10.1px;
  font-size: em(21px);
}

    .upload-media-svg {
      margin: 50px auto 20px;

    }


  }
}