.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-basic {
  background-color: #fff;
  // padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 331px;
  text-align: center;
  
  .modal-btn {
  display: block;
  width: 97%;
  
  font-size: 10.8px;
  margin: 0.75rem 0;
  padding-bottom: 0.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #ccc;
  
  &.delete {
    color: #d32f2f;
    font-weight: 600;
  }
}
}