  .modal-container {
    .modal-backdrop-upload {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p{
      border-bottom:1px solid #dbdbdb ;
    }

    .upload-media-svg{
      margin: 50px auto 20px;
  
    }

    .upload-img-btn{
      background-color: #0095f6;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 5px;
      border-radius: 8px;
    }

    .modal-upload {
      width: 300px;
      height: 331px;
      padding: 1.5rem;
      text-align: center;
      border-radius: 12px;
      background-color: #fff;
    }

    .uploaded-preview {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
      display: block;
      margin: auto;
    }
  }