.side-nav {
  // z-index: 10;
  position: sticky;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: em(279px);
  padding-top: 8px;
  padding-bottom: 21.5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dbd9d9;

  &.breakpoint-medium {
    font-size: 14.2px;

    .icon-outline,
    .icon-active {
      width: em(24px);
      height: em(24px);
    }

    .logo-icon-svg {
      width: em(25px);
      height: em(25px);
    }

    padding: 8px 12px 20px 12px;
    width: em(76.8px);

    .nav-item {
      padding: 10.5px 0 10.5px 11.5px;
    }

    .logo-icon {
      padding: 25px 20px 14px 10.8px;
      width: 48px;
      height: 84px;
    }

    .nav-section {}

    .more {}

    .nav-label,
    .logo-text {
      display: none;
    }
  }


  .icon-active {
    display: none;
  }

  .nav-item.active .icon-active {
    display: inline;
  }

  .nav-item.active .icon-outline {
    display: none;
  }

  .logo-icon {
    display: none;
  }

  &.breakpoint-mobile {
    display: none;
  }

  .logo-text {
    padding: 32px 12px 27px 12px;
    // font-size: em(0px);
    cursor: pointer;
  }

  .nav-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .nav-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .3px;
  }

  .nav-item.active {
    .nav-label {
      font-weight: 700;
      line-height: 20px;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 12px;
    margin: 4px 0;
    transition: background-color 0.2s;
    cursor: pointer;

    .profile-img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    &:active {
      opacity: 0.5;
    }

    .notif-icon {
      position: relative;
      display: flex;

      .notif-dot {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 0.5rem;
        height: 0.5rem;
        background-color: red;
        border-radius: 50%;
      }
    }
  }

  .more {}
}