.side-nav {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: em(279px);
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dbd9d9;

  .icon-active {
    display: none;
  }

  .nav-item.active .icon-active {
    display: inline;
  }

  .nav-item.active .icon-outline {
    display: none;
  }

  &.breakpoint-large {
    .logo-icon {
      display: none;
    }
  }

  &.breakpoint-medium {
    width: em(86px);
    padding-top: em(41.8px);
    padding-left: em(29px);

    .logo-icon {
      margin-bottom: em(14px);
    }

    .nav-section {
      gap: em(36.4px);

    }

    .more {
      margin-top: auto;
      margin-bottom: 21px;
    }

    .nav-label,
    .logo-text {
      display: none;
    }
  }

  &.breakpoint-mobile {
    display: none;
  }

  .logo-text {
    font-size: em(27px);
    cursor: pointer;
  }

  .nav-section {
    margin-top: em(46.5px);
    display: flex;
    flex-direction: column;
    // gap: em(36.5px);
    flex: 1;
  }

  .nav-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .3px;
  }

  .nav-item.active {
    .nav-label {
      font-weight: 700;
      line-height: 20px;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    // width: 100%;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 12px;
    margin: 4px 0;
    // gap: rem(15.35px);
    transition: background-color 0.2s;
    cursor: pointer;

    .profile-img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    &:active {
      opacity: 0.5;
    }

    .notif-icon {
      position: relative;
      display: flex;

      .notif-dot {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 0.5rem;
        height: 0.5rem;
        background-color: red;
        border-radius: 50%;
      }
    }
  }

  .more {

  }
}