.story-comments {
    margin: 0;
    padding: 0;

    .view-comments {
        color: #737373;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 3px;
        background-color: transparent;
    }

        .story-comments-likes{
        font-weight: 500;

        p {
            margin-top: 8px;

        }
        
    }
}

.user-comment{
    display: flex;

    .user-name-span{
        margin-right: 8px;
font-weight: 500;
    }
}

.add-comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(18px);
    overflow: hidden;

    .add-comment-post {
        color: #0095F6;
        font-weight: 600;
        display: none;
    }

    input:not(:placeholder-shown)+.add-comment-post {
        display: block;
    }
}