.storyHeader {  .storyHeader-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 0.4rem 0;
  }


  .storyHeader-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(239, 239, 239);
    padding-bottom: 0.5rem;
  }

  .btn-options {
    font-size: 24px;
    color: #262626;
    cursor: pointer;
    margin-right: 3px;

    &:hover {
      color: #8e8e8e;
    }
  }

  .storyHeader-details {
    display: flex;
    align-items: center;
    gap: 5px;

    a {
      display: inline-flex;
      align-items: center;
      gap: 0.5em;
    }

    .username {
      font-size: 12px;
    }
  }

  .user-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    padding: 2.5px;
    background: $gradient;
  }

  .username {
    font-weight: 600;
    font-size: 11px;
    color: #262626;
  }
  .created-time {
    font-size: 11px;
    color: #8e8e8e;
  }

  .location-container {
    display: flex;
    align-items: center;
    margin-top: 4px;
    width: 100%;
    
    .location-icon {
      width: 12px;
      height: 12px;
      margin-right: 4px;
      color: #8e8e8e;
      flex-shrink: 0;
    }
    
    .location {
      font-size: 11px;
      color: #262626;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}