.story-comments {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .view-comments {
        color: #737373;
        background-color: transparent;
    }
}

.add-comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(18px);

    .add-comment-post {
        color: #0095F6;
        font-weight: 600;
        display: none;
    }

    input:not(:placeholder-shown)+.add-comment-post {
        display: block;
    }


}