.section-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

    >* {
        &.full {
            grid-column: 1 / -1;
            // background-color: red;
        }
    }

    .main-story-layout {
        display: grid;
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 630px) minmax(20px, 1fr);

        @media (min-width: 1160px) {
            grid-template-columns: minmax(20px, 1fr) minmax(auto, 630px) minmax(20px, 40px) minmax(auto, 255px) minmax(20px, 1fr);
        }

        
        @include for-mobile-layout {
            grid-template-columns: minmax(1fr, 65px) minmax(auto, 470px) minmax(1fr, 65px);
            grid-column: 1 / -1;
        }
        &>* {
            grid-column: 2;
        }

    }

    // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }
}